src/sales/interop/CommandMessage.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CommandMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Command" type="xs:string"/>
        <xs:element name="Data" type="xs:hexBinary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>